@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../components";

a:not([class]) {
  text-decoration: underline;
}

.prose {
  a {
    text-decoration: none;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.25rem;

    a {
      pointer-events: none;
      cursor: text;

      > span {
        display: none;
      }
    }
  }

  p {
    margin-top: 0;
  }
}

:root {
  --ui-text-highlighted: var(--color-slate-950);
  --focus-gap-color: black;
  --ui-radius: 0.125rem;
}

.dark {
  --ui-text-highlighted: white;
  --focus-gap-color: white;
}

h2 {
  @apply text-2xl font-semibold text-highlighted;
}

h3 {
  @apply text-lg font-medium text-highlighted;
}

.label-title {
  @apply font-medium tracking-wide text-toned;
}

button[role='switch'] {
  border: 2px solid currentColor !important;
}

button[role='switch'] [data-slot='thumb'] {
  width: 16px !important;
  height: 16px !important;
  background-color: black !important;
}

.btn-link {
  @apply p-0 hover:underline text-primary-800 dark:text-primary-400;
}

.btn-outline {
  @apply cursor-pointer ring-primary-800 text-primary-800 dark:text-primary-500 dark:ring-primary-500;
}

.btn-primary {
  @apply cursor-pointer bg-primary-800 hover:bg-primary-900 active:bg-primary-950 dark:bg-primary-500 dark:hover:bg-primary-400 active:dark:bg-primary-300 text-white dark:text-black;
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

.icon-animation {
  @apply group-data-[state=open]:rotate-180 transition-transform duration-200;
}

/* ************* */
/* Focus styling */
/* ************* */

/* Default focus style */
:focus-visible {
  outline: 0.375rem double var(--ui-color-primary-500);
  outline-offset: -1px;
  border-radius: var(--ui-radius);
  box-shadow: 0 0 0 0.25rem var(--focus-gap-color);
  transition: none;
}

/* Custom focus styles for interactible elements */
.selectable-focus:has(input:focus-visible),
.selectable-focus[data-highlighted] {
  outline: 0.375rem double var(--ui-color-primary-500);
  outline-offset: -1px;
  border-radius: var(--ui-radius);
  box-shadow: 0 0 0 0.25rem var(--focus-gap-color);
  transition: none;
}

/* Hide the search input's focus ring. the ring follows the highlighted item instead. */
[data-slot='focusScope'] input:focus-visible {
  outline: 2px solid transparent;
  box-shadow: none;
}
